@model IEnumerable<MLAFund.Models.Data.workprogress>
@{
    ViewBag.Title = "Convergence Work Progress - Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*@section bc{

        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/convergence">convergence</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>


    }*@
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="/CompletedScheme">Convergence Work Progress Report</a></li>
    <li class="breadcrumb-item active">@User.Identity.Name</li>
</ol>

<div class="col-md-12 col-lg-12">
    <div class="card card-dark">
        <div class="card-header">
            <h3 class="card-title">Convergence Work Progress Report</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->



        <div class="container-fluid">
            <table id="convergence_workprogress_report" class="table table-bordered table-striped Items table-responsive">
                <thead>
                    <tr>
                        <th>Serial No.</th>
                        <th> Progress ID </th>
                        <th> Convergence ID </th>
                        <th> Fund Utilized </th>
                        <th> Date </th>
                        <th> Work Status </th>
                        <th> Mandays Generated </th>
                        <th> Date of Utilization </th>
                        <th> Remarks </th>
                        <th> Geotag Picture</th>
                    </tr>

                </thead>

                @if (Model != null)
                {

                    //  var SNo = 1;
                    ////  var s = 0;
                    <tbody>

                        @foreach (var item in Model.Select((i, it) => new { i, it = it + 1 }))
                        {

                            <tr>

                                <td>@item.it</td>
                                <td>@item.i.pid</td>
                                <td>@item.i.cid</td>
                                <td>@item.i.fundutilized</td>
                                <td>@item.i.date</td>
                                <td>@item.i.workstatus</td>
                                <td>@item.i.mandaysgenerated</td>
                                <td>@item.i.dateofutilization</td>
                                <td>@item.i.remarks</td>
                                <td>@item.i.geotagphoto</td>
                            </tr>
                            //  s = s + Convert.ToInt32(item.totalapp);
                        }
                    </tbody>
                    //  Session["tapp"] =s;
                }


            </table>
        </div>

    </div>
</div>



@section scripts{
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="~/Scripts/axios/axios.min.js"></script>
    <script src="~/Scripts/vue/vue.min.js"></script>
    <script src="~/Scripts/vee-validate/vee-validate.min.js"></script>
    <script>Vue.use(VeeValidate);</script>
    <script src="~/Scripts/apps/convergence.js"></script>


    <!--Nishant : Code Start: Added Code for Datatables-->
    <script>
        $(document).ready(function () {
            var table = $('#convergence_workprogress_report',).DataTable({
                //Toggle the below paging to false - to remove pagination
                paging: true,


                //Nishant Code Start - Code Add for Exporting to PDF
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        title: 'Convergence Report',
                        pageSize: 'A4',
                        text: 'Export to PDF'
                    }
                ]
                //Code End - Code Added for File Export to PDF

            });

            $('a.toggle-vis').on('click', function (e) {
                e.preventDefault();

                // Get the column API object
                var column = table.column($(this).attr('data-column'));

                // Toggle the visibility
                column.visible(!column.visible());
            });
        });
    </script>
    <!--Nishant : Code Start: Added Code for Datatables-->
}


