@model IEnumerable<MLAFund.Models.Data.mla_expenses_temp>

@{
    ViewBag.Title = "Fund Expenditure Summary Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section bc{

    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="Home/Index">Home</a></li>
        <li class="breadcrumb-item active">Index</li>
    </ol>


}

<div class="col-md-12 col-lg-12">
    <div class="card card-dark">
        <div class="card-header">
            <h3 class="card-title"> Expenditure Summary </h3>
        </div>

        <table id="mlafund_allotment_report" class="table Items table-bordered table-responsive container--fluid" style="width:" 100px">
            <thead>
                <tr class="bg-secondary">
                    <th style="width: 1%">Sr.No</th>
                    <th>Assembly Name</th>
                    <th>Financial Year</th>
                    <th>Total Expenditure</th>
                    <th>Action</th>

                </tr>
            </thead>

            @if (Model != null)
            {

                <tbody>

                    @foreach (var item in Model.Select((i, it) => new { i, it = it + 1 }))
                    {

                        <tr>
                            <td>@item.it</td>
                            <td>@item.i.assembly_name</td>
                            <td>@item.i.financial_year</td>
                            <td>@item.i.total_expense_amount</td>
                            <td class="btn">
                                @Html.ActionLink("Detailed Expense Report", "DetailedExpenseReport", new { assembly_name = @item.i.assembly_name, financial_year = @item.i.financial_year })
                            </td>
                        </tr>
                    }
                </tbody>
            }


        </table>
    </div>
</div>




@section scripts{
    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <!--Nishant : Code Start: Added Code for Datatables-->
    <script>
        /* The below code was for exporting table data to an excel */
        /*
       function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('mlafund_utilization_report');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ('MLAFund Utilization Report.' + (type || 'xlsx')));
        }
        */
        $(document).ready(function () {
            var table = $('#mlafund_allotment_report',).DataTable({
                //Toggle the below paging to false - to remove pagination
                pageLength: 5,
                paging: true,

                //Nishant Code Start - Code Add for Exporting to PDF
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        orientation: 'portrait',
                        title: 'MLA Fund Allotment Report',
                        pageSize: 'A4',
                        text: 'Export to PDF'
                    }
                ]
                //Code End - Code Added for File Export to PDF

            });

            $('a.toggle-vis').on('click', function (e) {
                e.preventDefault();

                // Get the column API object
                var column = table.column($(this).attr('data-column'));

                // Toggle the visibility
                column.visible(!column.visible());
            });
        });
    </script>
    <!--Nishant : Code Start: Added Code for Datatables-->

    <script src="~/Scripts/axios/axios.min.js"></script>
    <script src="~/Scripts/vue/vue.min.js"></script>
    <script src="~/Scripts/vee-validate/vee-validate.min.js"></script>
    <script>Vue.use(VeeValidate);</script>
    <script src="~/Scripts/apps/convergence.js"></script>



}


